// Porto Config Scss Theme File


// Created at 2017-12-13 13:57:23









//** Padding between columns. Gets divided in half for the left and right.


$grid-gutter-width:         30px !default;


// Large screen / wide screen


$container-large-desktop: (1140px) !default;


$screen-large: "(max-width: 1169px)";




// Border radius




    $border-xs:     0;


    $border-small:  0;


    $border-thin:   0;


    $border-base:   0;


    $border-normal: 0;


    $border-medium: 0;


    $border-thick:  0;


    $border-strong: 0;


    $border-large:  0;


    $progress-border: 0;


    $feature-icon-border: 0;


    $thumb-link-border: 0;




// Search Border Radius


	
	$searchform-border: 20px;

    $searchform-border-large: 25px;

	$searchform-extra-width: 0px;
	 
	@mixin searchform-select-padding() {
		padding: side-values(0 15px 0 10px);
	}

	@mixin searchform-input-padding() {
		padding: side-values(0 15px 0 20px);
	}

	@mixin searchform-button-padding() {
		padding: side-values(0 20px 0 13px);
	}







    //** Padding around the thumbnail image


    $thumbnail-padding:      0 !default;


    //** Thumbnail border color


    $thumbnail-border:       transparent !default;


    $thumbnail-border-width: 0;


    $thumbnail-slide-width:  100%;


    $product-image-padding:  0;


    $product-image-border-width: 0;


    $widget-product-image-padding: 0;


    $image-slider-padding: 0;







$dark: 0;







$color-dark: #1d2127;




$color-dark-inverse: #FFF;


$color-dark-1: $color-dark;


$color-dark-2: lighten($color-dark-1, 2%);


$color-dark-3: lighten($color-dark-1, 5%);


$color-dark-4: lighten($color-dark-1, 8%);


$color-dark-5: lighten($color-dark-1, 3%);


$color-darken-1: darken($color-dark-1, 2%);





$dark-bg: $color-dark;


$dark-default-text: #808697;










    $color-price: #465157;





    $widget-bg-color: #fbfbfb;


    $widget-title-bg-color: #f5f5f5;


    $widget-border-color: #ddd;





    $input-border-color: #ccc;


    $image-border-color: #ddd;


    $color-widget-title: #313131;





    $price-slide-bg-color: #eee;


    $panel-default-border: #ddd !default;








