* {
  font-family: 'Roboto', sans-serif;
}
html, body {
  font-size: 16px;
  overflow-y:hidden;
}

div#demo {
  background: #fbfbfb;
    position: relative;
    padding: 0;
    height: 100%;
    transition: height 9999s;
}
.vertical-align {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
.card {
    background: #fff;
    overflow-y:hidden;
    padding: 7px 15px;
    width: 100%;
    max-height: 100%;
}

#head img {
  height: 42px;
  width: 42px;
  border-radius: 100%;
}





