// Porto Config Less File
// Created at 2017-12-19 13:39:33

@dark: 0;

// Border radius
    @border_base: 0;
    @border_medium: 0;
    @searchform_border: 20px;
    @searchform_border_large: 25px;


// Button Style
@button_style_borders: 0;
@button_style_3d: 0;

// Skin
@skinColor: #da7940;
@container_width: 1140px;
@grid_gutter_width: 30px;
@screen_large: 1169px;

// Color Variables
@color-primary: @skinColor;
@color-primary-inverse: #ffffff;

@color-secondary: #312227;
@color-secondary-inverse: #ffffff;

@color-tertiary: #efece8;
@color-tertiary-inverse: #ffffff;

@color-quaternary: #101019;
@color-quaternary-inverse: #ffffff;

@color-dark: #2e353e;
@color-dark-inverse: #ffffff;

@color-light: #ffffff;
@color-light-inverse: #777777;

@social-color: 0;

// Typography
@body_font_family: Sintony;
@body_font_weight: 400;
@body_font_size: 14px;
@body_line_height: 22px;

@body_letter_spacing: 0;

@body_color: #50545f;

@body_mobile_font_size_scale: 0.92857142857143;
@body_mobile_line_height_scale: 0.90909090909091;@body_mobile_letter_spacing: 0;

@alt_font_family: Shadows Into Light;
@alt_font_weight: 400;

@logo_font_family: Open Sans;
@logo_font_weight: 700;
@logo_font_size: 40px;
@logo_line_height: 48px;

@logo_letter_spacing: 0;

@logo_color: #0088cc;

@h1_font_family: Playfair Display;
@h1_font_weight: 700;
@h1_font_size: 36px;
@h1_line_height: 44px;

@h1_letter_spacing: -1px;

@h1_color: #1d2127;

@h2_font_family: Playfair Display;
@h2_font_weight: 700;
@h2_font_size: 27px;
@h2_line_height: 40px;
@h2_letter_spacing: -1px;@h2_color: #1d2127;

@h3_font_family: Playfair Display;
@h3_font_weight: 700;
@h3_font_size: 25.2px;
@h3_line_height: 24px;
@h3_letter_spacing: 0;@h3_color: #1d2127;

@h4_font_family: Playfair Display;
@h4_font_weight: 700;
@h4_font_size: 16.8px;
@h4_line_height: 27px;
@h4_letter_spacing: 0;@h4_color: #2e353e;

@h5_font_family: Playfair Display;
@h5_font_weight: 400;
@h5_font_size: 14px;
@h5_line_height: 18px;
@h5_letter_spacing: 0;@h5_color: #1d2127;

@h6_font_family: Playfair Display;
@h6_font_weight: 400;
@h6_font_size: 14px;
@h6_line_height: 18px;

@h6_letter_spacing: 0;

@h6_color: #1d2127;

@menu_font_family: Sintony;
@menu_font_weight: 700;
@menu_font_size: 12px;
@menu_line_height: 20px;

@menu_letter_spacing: 0;@menu_md_font_size: 12px;
@menu_md_line_height: 20px;

@menu_md_letter_spacing: 0;

@menu_text_transform: uppercase;

@menu_side_font_family: Open Sans;
@menu_side_font_weight: 400;
@menu_side_font_size: 14px;
@menu_side_line_height: 18px;

@menu_side_letter_spacing: 0;@menu_popup_font_family: Sintony;
@menu_popup_font_weight: 400;
@menu_popup_font_size: 13px;
@menu_popup_line_height: 18px;

@menu_popup_letter_spacing: 0;// Backgrounds
@body_bg_color: #ffffff;
@body_bg_repeat: repeat;
@body_bg_size: auto;
@body_bg_attachment: scroll;
@body_bg_position: initial;
@body_bg_image: none;

    @body_bg_gradient: false;
    @body_bg_from: #ffffff;
    @body_bg_to: #ffffff;

@content_bg_color: #ffffff;
@content_bg_repeat: repeat;
@content_bg_size: auto;
@content_bg_attachment: scroll;
@content_bg_position: initial;
@content_bg_image: none;

    @content_bg_gradient: false;
    @content_bg_from: #ffffff;
    @content_bg_to: #ffffff;

@content_bottom_bg_color: #ffffff;
@content_bottom_bg_repeat: repeat;
@content_bottom_bg_size: auto;
@content_bottom_bg_attachment: scroll;
@content_bottom_bg_position: initial;
@content_bottom_bg_image: none;

    @content_bottom_bg_gradient: false;
    @content_bottom_bg_from: #ffffff;
    @content_bottom_bg_to: #ffffff;

@content_bottom_padding_top: 0px;
@content_bottom_padding_bottom: 20px;
@mobile_menu_toggle_bg_color: ;// Mobile Panel

@panel_bg_color: #1d2127;
@panel_text_color: #ffffff;
@panel_link_color: #ffffff;
@panel_hover_color: #ffffff;

// Header Top
@header_top_bg_color: #f4f4f4;
@header_top_text_color: #777777;
@header_top_link_color: #0088cc;
@header_top_hover_color: #0099e6;
@header_top_bottom_border_width: 1px;
@header_top_bottom_border_color: #ededed;@header_top_menu_padding_top: 5px;
@header_top_menu_padding_right: 5px;
@header_top_menu_padding_bottom: 5px;
@header_top_menu_padding_left: 5px;

@header_top_menu_hide_sep: true;
// Header

@header_border_top_width: 0;
@header_border_top_color: #ededed;
@header_margin_top: 0px;
@header_margin_bottom: 0px;
@header_margin_right: 0px;
@header_margin_left: 0px;

@header_wrap_bg_color: transparent;
@header_wrap_bg_repeat: repeat;
@header_wrap_bg_size: auto;
@header_wrap_bg_attachment: scroll;
@header_wrap_bg_position: initial;
@header_wrap_bg_image: none;

    @header_wrap_bg_gradient: false;
    @header_wrap_bg_from: transparent;
    @header_wrap_bg_to: transparent;

@header_bg_color: #ffffff;
@header_bg_repeat: repeat;
@header_bg_size: auto;
@header_bg_attachment: scroll;
@header_bg_position: initial;
@header_bg_image: none;

    @header_bg_gradient: false;
    @header_bg_from: #ffffff;
    @header_bg_to: #ffffff;

@sticky_header_bg_color: #ffffff;
@sticky_header_bg_repeat: repeat;
@sticky_header_bg_size: auto;
@sticky_header_bg_attachment: scroll;
@sticky_header_bg_position: initial;
@sticky_header_bg_image: none;

    @sticky_header_bg_gradient: false;
    @sticky_header_bg_from: #ffffff;
    @sticky_header_bg_to: #ffffff;
@sticky_header_opacity: 100%;

@sticky_header_logo: 1;

@header_text_color: #999999;
@header_link_color: #999999;
@header_hover_color: #999999;

@header_opacity: 1%;
@searchform_opacity: 50%;
@menuwrap_opacity: 30%;
@menu_opacity: 30%;

// Side Social, Copyright
@side_social_bg_color: #9e9e9e;
@side_social_color: #ffffff;
@side_copyright_color: #777777;

// Switcher
@header_switcher_bg_color: transparent;
@header_switcher_hbg_color: #ededed;
@header_switcher_link_color: #777777;
@header_switcher_hover_color: #777777;

// Searchform
@searchform_bg_color: #ffffff;
@searchform_border_color: #cccccc;
@searchform_popup_border_color: #cccccc;
@searchform_text_color: #555555;
@searchform_hover_color: #333333;
@sticky_searchform_popup_border_color: #cccccc;
@sticky_searchform_toggle_text_color: #777777;
@sticky_searchform_toggle_hover_color: #0088cc;
@sticky_header_searchform: 0;
// Mini Cart
@minicart_icon_color: #0088cc;
@minicart_item_color: #0088cc;
@minicart_border_color: transparent;
@minicart_bg_color: transparent;
@minicart_popup_border_color: #0088cc;
@sticky_minicart_icon_color: #0088cc;
@sticky_minicart_item_color: #0088cc;
@sticky_minicart_border_color: transparent;
@sticky_minicart_bg_color: transparent;
@sticky_minicart_popup_border_color: #0088cc;
@sticky_header_minicart: 0;
// Main Menu
@main_menu_wrapper_bg_color: transparent;
@main_menu_wrapper_padding: 0px 0px 15px 0px;
    @main_menu_wrapper_padding_sticky: 8px 0px 8px 0px;
@main_menu_bg_color: transparent;
@main_menu_popup_border: 0;
@main_menu_popup_border_color: #de8855;
@main_menu_popup_bg_color: #da7940;
@main_menu_popup_heading_color: #ffffff;
@main_menu_popup_link_color: #ffffff;
@main_menu_popup_hover_color: #ffffff;
@main_menu_popup_link_hbg_color: #de8855;
@main_menu_level1_link_color: #da7940;
@main_menu_level1_hover_color: #ffffff;

@main_menu_level1_link_color_sticky: ;

@main_menu_level1_hover_color_sticky: ;
@main_menu_level1_active_color: #ffffff;
@main_menu_level1_hbg_color: #da7940;
@main_menu_level1_abg_color: #da7940;
@main_menu_level1_padding1_left: 13px;
@main_menu_level1_padding1_right: 13px;
@main_menu_level1_padding1_top: 11px;
@main_menu_level1_padding1_bottom: 9px;
@main_menu_level1_padding2_left: 10px;
@main_menu_level1_padding2_right: 10px;
@main_menu_level1_padding2_top: 9px;
@main_menu_level1_padding2_bottom: 7px;
@main_menu_narrow_type: 0;
@main_menu_tip_bg_color: #0cc485;
@main_menu_custom_text_color: #50545f;
@main_menu_custom_link_color: #da7940;
@main_menu_custom_link_hcolor: #de8855;@sticky_menu_bg_color: #ffffff;

@sticky_header_menu_custom_content: 1;
// Footer

@footer_bg_color: transparent;
@footer_bg_repeat: repeat-y;
@footer_bg_size: auto;
@footer_bg_attachment: scroll;
@footer_bg_position: initial;
@footer_bg_image: url(//localhost/dimepadrino/wp-content/uploads/2017/02/footer-bg.jpg);

    @footer_bg_gradient: false;
    @footer_bg_from: transparent;
    @footer_bg_to: transparent;

@footer_main_bg_color: transparent;
@footer_main_bg_repeat: repeat-y;
@footer_main_bg_size: auto;
@footer_main_bg_attachment: scroll;
@footer_main_bg_position: initial;
@footer_main_bg_image: url(//localhost/dimepadrino/wp-content/uploads/2017/02/footer-bg.jpg);

    @footer_main_bg_gradient: false;
    @footer_main_bg_from: transparent;
    @footer_main_bg_to: transparent;

@footer_heading_color: #ffffff;

@footer_label_color: ;@footer_text_color: #777777;
@footer_link_color: #ffffff;
@footer_link_hcolor: #ffffff;
@footer_ribbon_bg_color: #0088cc;
@footer_ribbon_text_color: #ffffff;

@footer_top_bg_color: transparent;
@footer_top_bg_repeat: repeat;
@footer_top_bg_size: auto;
@footer_top_bg_attachment: scroll;
@footer_top_bg_position: initial;
@footer_top_bg_image: url(//localhost/dimepadrino/wp-content/uploads/2017/02/footer-bg.jpg);

    @footer_top_bg_gradient: false;
    @footer_top_bg_from: transparent;
    @footer_top_bg_to: transparent;

@footer_top_padding_top: 0px;
@footer_top_padding_bottom: 0px;

@footer_bottom_bg_color: transparent;
@footer_bottom_bg_repeat: repeat-y;
@footer_bottom_bg_size: auto;
@footer_bottom_bg_attachment: scroll;
@footer_bottom_bg_position: initial;
@footer_bottom_bg_image: url(//localhost/dimepadrino/wp-content/uploads/2017/02/footer-bg.jpg);

    @footer_bottom_bg_gradient: false;
    @footer_bottom_bg_from: transparent;
    @footer_bottom_bg_to: transparent;

@footer_bottom_text_color: #555555;
@footer_bottom_link_color: #ffffff;
@footer_bottom_link_hcolor: #ffffff;
@footer_opacity: 80%;
@footer_social_bg_color: #ffffff;
@footer_social_link_color: #555555;

// Breadcrumbs

@breadcrumbs_bg_color: #171717;
@breadcrumbs_bg_repeat: repeat;
@breadcrumbs_bg_size: auto;
@breadcrumbs_bg_attachment: scroll;
@breadcrumbs_bg_position: center center;
@breadcrumbs_bg_image: none;

    @breadcrumbs_bg_gradient: false;
    @breadcrumbs_bg_from: #171717;
    @breadcrumbs_bg_to: #171717;

@breadcrumbs_border_top_width: 0;
@breadcrumbs_border_top_color: #384045;
@breadcrumbs_border_bottom_width: 0;
@breadcrumbs_border_bottom_color: #cccccc;
@breadcrumbs_text_color: #777777;
@breadcrumbs_link_color: #0088cc;
@breadcrumbs_title_color: #ffffff;
@breadcrumbs_subtitle_color: #e6e6e6;
@breadcrumbs_padding: 0px 0px 0px 0px;
@breadcrumbs_padding_left: 0px;
@breadcrumbs_padding_right: 0px;
    @breadcrumbs_subtitle_margin: 0px 0px 0px 0px;

// Container Width
@calc_banner_width: 0;
@calc_breadcrumbs_width: 0;
@calc_content_width: 0;
@calc_footer_width: 0;

// Shop
@color-wishlist: #e36159;
@border-color-wishlist: #d8d8d6;
@color-wishlist-inverse: #ffffff;
@color-quickview: #2baab1;
@border-color-quickview: #d8d8d6;
@color-quickview-inverse: #ffffff;
@color-hot: #62b959;
@color-hot-inverse: #ffffff;
@color-sale: #e27c7c;
@color-sale-inverse: #ffffff;

@add_to_cart_font_family: Open Sans;